<section id="audience" class="audience">
	<div class="container">
	  <h2 class="audience-title">Наша аудиторія — твої майбутні фанати</h2>
	  <ul class="audience-list">
		<li class="audience-item">
		  <div class="audience-item-front front-a">
			<h3 lang="en" class="audience-sec-title">TV</h3>
			<picture>
			  <source
				srcset="
				  ./img/audience/tv.webp    1x,
				  ./img/audience/tv@2x.webp 2x
				"
				type="image/webp"
			  />
			  <img
				class="audience-item-front-img"
				src="./img/audience/tv.png"
				alt="tv"
			  />
			</picture>
			<p class="audience-item-data">2M</p>
		  </div>
		  <div class="audience-item-back back-a">
			<h4 class="audience-item-back-title">Аудиторія</h4>
			<ul class="tv-audience">
			  <li class="tv-audience-item">Близько <span class="tv-audience-digit">2 000 000</span> домогосподарств</li>
			  <li class="tv-audience-item">Близько <span class="tv-audience-digit">200</span> каналів дистрибуції в тому числі всі найбільші ОТТ платформи України</li>
			</ul>
			
		  </div>
		</li>
		<li class="audience-item">
		  <div class="audience-item-front front-a">
			<h3 lang="en" class="audience-sec-title">OTT</h3>
			<picture>
			  <source
				srcset="
				  ./img/audience/laptop.webp    1x,
				  ./img/audience/laptop@2x.webp 2x
				"
				type="image/webp"
			  />
			  <img
				class="audience-item-front-img"
				src="./img/audience/laptop.png"
				alt="laptop"
			  />
			</picture>
			<p class="audience-item-data">1.7M</p>
		  </div>
		  <div class="audience-item-back back-a">
			<h4 class="audience-item-back-title">Аудиторія</h4>
			<div class="audience-back-diagram"><canvas id="ott"></canvas></div>
			<div class="gender"><canvas id="ott-gender"></canvas></div>
		  </div>
		</li>
		<li class="audience-item">
		  <div class="audience-item-front front-a">
			<h3 class="audience-sec-title" lang="en">YouTube</h3>
			<picture>
			  <source
				srcset="
				  ./img/audience/tablet.webp    1x,
				  ./img/audience/tablet@2x.webp 2x
				"
				type="image/webp"
			  />
			  <img
				class="audience-item-front-img"
				src="./img/audience/tablet.png"
				alt="tablet"
			  />
			</picture>
			<p class="audience-item-data">11M</p>
		  </div>
		  <div class="audience-item-back back-a">
			<h4 class="audience-item-back-title">Аудиторія</h4>
			<div class="audience-back-diagram"><canvas id="youtube"></canvas></div>
			<div class="gender"><canvas id="youtube-gender"></canvas></div>
		  </div>
		</li>
		<li class="audience-item">
		  <div class="audience-item-front front-a">
			<h3 class="audience-sec-title" lang="en">SMM</h3>
			<picture>
			  <source
				srcset="
				  ./img/audience/mob.webp    1x,
				  ./img/audience/mob@2x.webp 2x
				"
				type="image/webp"
			  />
			  <img
				class="audience-item-front-img"
				src="./img/audience/mob.png"
				alt="smm"
			  />
			</picture>
			<p class="audience-item-data">2.7M</p>
		  </div>
		  <div class="audience-item-back back-a">
			<h4 class="audience-item-back-title">Аудиторія</h4>
			<div class="audience-back-diagram"><canvas id="smm"></canvas></div>
			<div class="gender"><canvas id="smm-gender"></canvas></div>
		  </div>
		</li>
	  </ul>
	</div>
  </section>