<section id="content" class="content">
	<div class="container">
	  <h2 class="visually-hidden">
		Ми транслюємо єксклюзивний контент на 15 країн Світу
	  </h2>
	  <p class="content-main-text">
		<span class="content-main-text-acent">Setanta Sports</span> –
		провідна спортивна телемережа в 15 країнах з населенням 260
		мільйонів осіб. Телеканали
		<span class="content-main-text-acent">Setanta</span> транслюються
		425 операторами та охоплюють понад 25 мільйонів домогосподарств
	  </p>
	  <ul class="content-list">
		<li class="content-item">
		  <div class="content-digit">15</div>
		  країн
		</li>
		<li class="content-item">
		  <div class="content-digit">25M</div>
		  домогосподарств
		</li>
		<li class="content-item">
		  <div class="content-digit">93M</div>
		  глядачів
		</li>
		<li class="content-item">
		  <div class="content-digit">425</div>
		  платформ
		</li>
	  </ul>
	  <h3 class="content-secondary-title">
		<span class="content-secondary-title-part">ЕКСКЛЮЗИВНО НА</span>
		SETANTA SPORTS
	  </h3>
	  <div class="content-box">
		<div class="content-box-first-part">
		  <div class="content-life-number">
			<p class="content-box-digit">2000+</p>
			<p class="content-box-digit-discription">
			  Live-трансляцій на сезон
			</p>
		  </div>
		  <div class="content-info">
			<p class="content-box-text">
			  Топові футбольні ліги, NBA, NHL, Formula 1, UFC, теніс та інші
			  популярні види спорту з усього світу
			</p>
		  </div>
		</div>

		<div class="content-box-second-part swiper">
		  <ul class="content-slider swiper-wrapper">
			<li class="content-slider-item swiper-slide">
			  <picture>
				<source
				  srcset="
					./img/content/sports/football.webp    1x,
					./img/content/sports/football@2x.webp 2x
				  "
				  type="image/webp"
				/>
				<img
				  class="content-slider-img"
				  src="./img/content/sports/football.png"
				  alt="football"
				/>
			  </picture>

			  <div class="content-slider-overlay">
				<picture>
				  <source
					srcset="
					  ./img/content/logo/premier-league-logo.webp    1x,
					  ./img/content/logo/premier-league-logo@2x.webp 2x
					"
					type="image/webp"
				  />
				  <img
					class="content-slider-overlay-img"
					src="./img/content/logo/premier-league-logo.png"
					alt="premier-league-logo"
					class="contentent-slider-overlay-img"
				  />
				</picture>
			  </div>
			</li>
			<li class="content-slider-item swiper-slide">
			  <picture>
				<source
				  srcset="
					./img/content/sports/f1.webp    1x,
					./img/content/sports/f1@2x.webp 2x
				  "
				  type="image/webp"
				/>
				<img
				  class="content-slider-img"
				  src="./img/content/sports/f1.png"
				  alt="Formula1"
				/>
			  </picture>

			  <div class="content-slider-overlay">
				<picture>
				  <source
					srcset="
					  ./img/content/logo/f1-logo.webp    1x,
					  ./img/content/logo/f1-logo@2x.webp 2x
					"
					type="image/webp"
				  />
				  <img
					class="content-slider-overlay-img"
					src="./img/content/logo/f1-logo.png"
					alt="f1-logo"
				  />
				</picture>
			  </div>
			</li>
			<li class="content-slider-item swiper-slide">
			  <picture>
				<source
				  srcset="
					./img/content/sports/ufc.webp    1x,
					./img/content/sports/ufc@2x.webp 2x
				  "
				  type="image/webp"
				/>
				<img
				  class="content-slider-img"
				  src="./img/content/sports/ufc.png"
				  alt="UFC"
				/>
			  </picture>
			  <div class="content-slider-overlay">
				<picture>
				  <source
					srcset="
					  ./img/content/logo/ufc-logo.webp    1x,
					  ./img/content/logo/ufc-logo@2x.webp 2x
					"
					type="image/webp"
				  />
				  <img
					class="content-slider-overlay-img"
					src="./img/content/logo/ufc-logo.png"
					alt="ufc-logo"
				  />
				</picture>
			  </div>
			</li>
			<li class="content-slider-item swiper-slide">
			  <picture>
				<source
				  srcset="
					./img/content/sports/tennis.webp    1x,
					./img/content/sports/tennis@2x.webp 2x
				  "
				  type="image/webp"
				/>
				<img
				  class="content-slider-img"
				  src="./img/content/sports/tennis.png"
				  alt="tennis"
				/>
			  </picture>

			  <div class="content-slider-overlay">
				<picture>
				  <source
					srcset="
					  ./img/content/logo/wta-logo.webp    1x,
					  ./img/content/logo/wta-logo@2x.webp
					"
					type="image/webp"
				  />
				  <img
					class="content-slider-overlay-img"
					src="./img/content/logo/wta-logo.png"
					alt="wta-logo"
				  />
				</picture>
			  </div>
			</li>
			<li class="content-slider-item swiper-slide">
			  <picture>
				<source
				  srcset="
					./img/content/sports/nhl.webp    1x,
					./img/content/sports/nhl@2x.webp 2x
				  "
				  type="image/webp"
				/>
				<img
				  class="content-slider-img"
				  src="./img/content/sports/nhl.png"
				  alt="NHL"
				/>
			  </picture>

			  <div class="content-slider-overlay">
				<picture>
				  <source
					srcset="
					  ./img/content/logo/nhl-logo.webp    1x,
					  ./img/content/logo/nhl-logo@2x.webp 2x
					"
					type="image/webp"
				  />
				  <img
					class="content-slider-overlay-img"
					src="./img/content/logo/nhl-logo.png"
					alt="nhl-logo"
				  />
				</picture>
			  </div>
			</li>
			<!-- <li class="content-slider-item">
			<picture class="content-slider-img">
			  <source>
			</picture>
			<img src="" alt="" class="content-slider-img">
			<div class="content-slider-overlay"><img src="" alt="" class="contentent-slider-overlay-img"></div>
		  </li> -->
		  </ul>
		</div>
	  </div>
	</div>
  </section>