<header class="top">
	<div class="container top-container">
	  <button type="button" class="mobile-menu-open-btn js-open-menu">
		<svg class="mobile-menu-icon-mob" width="21" height="14">
		  <use href="./img/sprite.svg#icon-burger-maxi"></use>
		</svg>
		<svg class="mobile-menu-icon-tablet" width="24" height="16">
		  <use href="./img/sprite.svg#icon-burger-maxi"></use>
		</svg>
	  </button>
	  <a href="#hero" class="top-logo-link link">
		<svg class="top-logo-img">
		  <use href="./img/sprite.svg#icon-setanta_logo"></use>
		</svg>
	  </a>
	  <nav class="top-nav">
		<ul class="top-nav-list">
		  <li class="top-nav-item">
			<a href="#content" class="top-nav-link">контент</a>
		  </li>
		  <li class="top-nav-item">
			<a href="#audience" class="top-nav-link">аудиторія</a>
		  </li>
		  <li class="top-nav-item">
			<a href="#packege" class="top-nav-link">Прояви</a>
		  </li>
		  <li class="top-nav-item">
			<a href="#contacts" class="top-nav-link">Контакти</a>
		  </li>
		</ul>
	  </nav>

	  <button type="button" class="contact-us" data-modal-open>
		Детальніше
	  </button>
	</div>
  </header>