<section id="hero" class="hero lazy-background">
  <div class="container">
    <h1 class="hero-title">Зірки світового спорту — твої амбасадори</h1>
    <p class="hero-text">Стань частиною найяскравіших спортивних подій</p>
    <div class="js-swiper hero-swiper">
      <ul class="hero-slider swiper-wrapper">
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/efl.webp    1x,
                ./img/hero/slider/efl@2x.webp 2x
              "
              type="image/webp"
            />
            <source />
            <img
              src="./img/hero/slider/efl.png"
              alt="efl"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/eredivisie.webp    1x,
                ./img/hero/slider/eredivisie@2x.webp 2x
              "
              type="image/webp"
            />
            <source />
            <img
              src="./img/hero/slider/eredivisie.png"
              alt="eredivisie"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/wimbledon.webp    1x,
                ./img/hero/slider/wimbledon@2x.webp 2x
              "
              type="image/webp"
            />
            <source />

            <img
              src="./img/hero/slider/wimbledon.png"
              alt="wimbledon"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/bundesliga-2.webp    1x,
                ./img/hero/slider/bundesliga-2@2x.webp
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/bundesliga-2.png"
              alt="bundesliga-2"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/pl.webp    1x,
                ./img/hero/slider/pl@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/pl.png"
              alt="premier league"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/vbet-liga.webp    1x,
                ./img/hero/slider/vbet-liga@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/vbet-liga.png"
              alt="vbet-liga"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/bundesliga.webp    1x,
                ./img/hero/slider/bundesliga@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/bundesliga.png"
              alt="bundesliga"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/f1.webp    1x,
                ./img/hero/slider/f1@2x.webp 2x
              "
              type="image/webp"
            />
            <source />

            <img
              src="./img/hero/slider/f1.png"
              alt="formula 1"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/ufc.webp    1x,
                ./img/hero/slider/ufc@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/ufc.png"
              alt="ufc"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/wta.webp    1x,
                ./img/hero/slider/wta@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/wta.png"
              alt="wta"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/nba.webp    1x,
                ./img/hero/slider/nba@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/nba.png"
              alt="nba"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/nhl.webp    1x,
                ./img/hero/slider/nhl@2x.webp 2x
              "
              type="image/webp"
            />
            <source />

            <img
              src="./img/hero/slider/nhl.png"
              alt="nhl"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/fa-cup.webp    1x,
                ./img/hero/slider/fa-cup@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/fa-cup.png"
              alt="fa-cup"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/euroleague.webp    1x,
                ./img/hero/slider/euroleague@2x.webp 2x
              "
              type="image/webp" />
            <source />

            <img
              src="./img/hero/slider/euroleague.png"
              alt="euroleague"
              class="hero-slider-img"
              loading="lazy"
          /></picture>
        </li>
        <li class="hero-slider-item swiper-slide">
          <picture class="hero-slider-picture">
            <source
              srcset="
                ./img/hero/slider/jupiler.webp    1x,
                ./img/hero/slider/jupiler@2x.webp 2x
              "
              type="image/webp"
            />
            <source />

            <img
              src="./img/hero/slider/jupiler.png"
              alt="jupiler"
              class="hero-slider-img"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
