<section id="packege" class="packege-section">
  <div class="container">
    <h2 class="packege-title">Обирай найкращу пропозицію для свого бренду</h2>
    <ul class="sports-list">
      <li class="sports-item">
        <button type="button" class="sports-item-btn">Весь спорт</button>
      </li>
      <li class="sports-item">
        <button type="button" class="sports-item-btn">
          Весь спорт без футболу
        </button>
      </li>
      <li class="sports-item">
        <button type="button" class="sports-item-btn">Футбол</button>
      </li>
      <li class="sports-item">
        <button type="button" class="sports-item-btn">
          Английська прем'ер ліга
        </button>
      </li>
      <li class="sports-item">
        <button type="button" class="sports-item-btn">Формула 1</button>
      </li>
      <li class="sports-item">
        <button type="button" class="sports-item-btn">Теніс</button>
      </li>
      <li class="sports-item" lang="en">
        <button type="button" class="sports-item-btn">UFC</button>
      </li>
    </ul>
    <div class="packege-wrapper">
      <div class="package-left">
        <ul class="packege-name-list">
          <li class="packege-name-item">
            <button type="button" class="packege-name-btn">Презентер</button>
          </li>
          <li class="packege-name-item">
            <button type="button" class="packege-name-btn">
              Генеральний партнер
            </button>
          </li>
          <li class="packege-name-item">
            <button type="button" class="packege-name-btn">Партнер</button>
          </li>
        </ul>
      </div>
      <div class="packege-right">
        <ul class="packege-info">
          <li class="packege-info-item">
            <img />
            <p>
              <span>ТВ:</span> Рекламні ролики у прямих трансляціях: перед/ в
              перерві /в кінці матчу
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p><span>ТВ:</span> Бампер</p>
          </li>
          <li class="packege-info-item">
            <img />
            <p><span>ТВ:</span> Графічний оверлей у прямих трансляціях</p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>
              <span>ТВ:</span> Спонсорське голосове повідомлення коментатора
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p><span>ТВ:</span> Міжпрограмний відеоролик</p>
          </li>
          <li class="packege-info-item">
            <img />
            <p><span>ТВ:</span> Анонс подій</p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>
              <span>ОТТ:</span> Графічна заставка перед відео за запитом
              (важливі моменти, огляди, матчі, інтерв’ю).
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>
              <span>ОТТ:</span> Рекламні ролики у прямих трансляціях: перед, в
              перерві та в кінці матчу
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>
              <span lang="en">SMM</span> Спонсорство важливої рубрики (кращі
              голи, моменти, турнірні таблиці, промо-новини, тощо)
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>
              <span lang="en">YouTube:</span> Рекламний ролик/интро перед відео
              за запитом (ключові моменти, повні матчі, інтервю).
            </p>
          </li>
          <li class="packege-info-item">
            <img />
            <p><span lang="en">YouTube:</span> Графічний оверлей</p>
          </li>
          <li class="packege-info-item">
            <img />
            <p>Лендинг</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
